    <div class="sidenav">

      <a style="margin-top: 90px;" routerLink="../addbus" class="nav-link" routerLinkActive="active">Add Buses</a>
      <a routerLink="../addtimings" class="nav-link" routerLinkActive="active">Add Timings</a>
      <a routerLink="../availablebuses" class="nav-link" routerLinkActive="active">Available Buses</a>
      <!-- add buses->can able to add buses
add timings->bus timings ...reservation form dropdown button
All Buses->can able to update delete see details of bus -->


      <!-- <a routerLink="../update" class="nav-link" routerLinkActive="active">Update Details</a>
      <a routerLink="../delete" class="nav-link" routerLinkActive="active">Delete Bus</a>
      <a routerLink="../show" class="nav-link" routerLinkActive="active">Bus Details</a> -->
    </div>

    <div class="main">
      <h2>ABOUT BUS RESERVATION </h2>
      <p>This sidebar is of full height (100%) and always shown.</p>
      <p>Scroll down the page to see the result.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
        et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
        repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
        et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
        repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
        et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
        repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
        et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
        repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    </div>
