/* Add padding to containers */
.container {
  padding: 16px;
  margin-left: 35%;
  margin-right: 20px;
  margin-top: 80px;
  padding: 10px;
  align-items: center;
  margin-bottom: 80px;
  border: 1px solid grey;
  border-radius: 10px;
}


h4 {
  text-align: center;
}

option {
  color: black;
}

h2 {
  margin-right: 20%;
}

label {
  font-size: large;
}


.visi {
  color: green;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background: lightgray;
  /* width: 20%; */
  background-image: none;
  border: none;
  color: black;
}

.select {
  position: relative;
  display: block;
  width: 10em;
  height: 2em;
  line-height: 2;
  background: #ddd;
  ;
  overflow: hidden;
  border-radius: .25em;
}

option {
  color: black;
}

select {
  color: black;
  /* width: 20%; */
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: rgb(80, 90, 100);
  pointer-events: none;
}

.select:hover::after {
  color: #fff;
}



/* Full-width input fields */
input[type=text],
input[type=number],
input[type=password],
input[type=date] {
  width: 70%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid orangered;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: orangered;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  opacity: 0.9;
  margin-left: 80px;
  font-size: 1.2em;
}

.registerbtn:hover {
  opacity: 1;
  background-color: rgb(224, 39, 39);
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
