<div [hidden]="submitted" style="width: 400px;" class="container">
  <h2>Book your reservation</h2>
  <hr>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" class="form-control" id="fullName" required [(ngModel)]="reservation.fullName" name="fullName">
    </div>

    <div class="form-group">
      <label for="name">choose Date</label>
      <input type="date" class="form-control" id="date" required [(ngModel)]="reservation.date" name="date">
    </div>
    <br>
    <label for="name">Time</label>
    <div class="select">
      <select name="time" id="time" class="dropdown" required [(ngModel)]="reservation.timeId"
        (ngModelChange)="fetchAvailableTimesForBus()">
        <option class="dropdown-content">Choose a time</option>
        <option *ngFor="let timing of availabletimes | async" value="{{timing.id}}" class="visi">{{timing.time}}
        </option>
      </select>
    </div>
    <br>
    <label for="name">Gender</label>
    <div class="select">
      <select name="gender" id="gender" class="dropdown" required [(ngModel)]="reservation.gender" name="gender">
        <option class="dropdown-content">Choose a gender</option>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
    <br>

    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="reservation.email" name="emailId">
    </div>
    <br>
    <div class="form-group">
      <label for="name">Phone No</label>
      <input type="number" class="form-control" id="phoneNumber" required [(ngModel)]="reservation.phoneNumber"
        name="phoneNumber">
    </div>
    <br>
    <button type="submit" class="registerbtn">Book Now</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Congratulations your ticket was booked....</h4>
</div>
