<div class="sidenav">
  <a style="margin-top: 90px;" routerLink="../addbus" class="nav-link" routerLinkActive="active">Add Buses</a>
  <a routerLink="../addtimings" class="nav-link" routerLinkActive="active">Add Timings</a>
  <a routerLink="../availablebuses" class="nav-link" routerLinkActive="active">Available Buses</a>
</div>

<div class="main">
  <div [hidden]="submitted" style="width: 400px;" class="container">
    <h2>Add timing</h2>
    <hr>
    <form (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="time"> Timing</label>
        <input type="text" class="form-control" id="time" required [(ngModel)]="timing.timing" name="time">
      </div>


      <br>
      <button type="submit" class="registerbtn">Add Timing</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h4>Added Successfully</h4>
    <a routerLink="../admin" class="nav-link" routerLinkActive="active">Back to dashboard</a>
  </div>

</div>
