.sidenav {
  height: 95%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: orangered;
  color: white;
  overflow-x: hidden;
  margin-top: 8px;
}

.sidenav a {
  margin-top: 10px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #c1c1c1;
}

.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  font-size: 19px;
  /* Increased text to enable scrolling */
  /* padding: 0px 10px; */
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.container {
  padding: 16px;
  margin-left: 30%;
  align-items: center;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.btn-info {
  font-size: medium;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: orangered;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-left: 20px;
  font-size: medium;
}

.registerbtn:hover {
  opacity: 1;
  background-color: rgb(224, 39, 39);
}
