<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="main">
  <h2>Available Buses</h2>
  <hr>
  <div class="panel-body">
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr>
          <th>Name</th>
          <th>From</th>
          <th>To</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bus of bus | async">
          <td>{{bus.name}}</td>
          <td>{{bus.busFrom}}</td>
          <td>{{bus.busTo}}</td>
          <td><button><a routerLink="../reservation/{{bus.id}}" class="btn-info" routerLinkActive="active">Book
                Now</a></button>
          </td>
          <hr>
        </tr>
      </tbody>
    </table>
  </div>
</div>
